@media (min-width:260px) and (max-width:450px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    div.first p.small {
        width: 90%;
        font-size: 1.3rem;
        color: #094067;
    }
    div.social0 {
        display: flex;
        flex-direction: column;
        width: 70%;
        /* margin: 1% auto; */
    }
    div.social0 span.icons i {
        font-size: 2rem;
        
        color: #094067;
    
    
    }

    div.projects div.collection div.matter {
        width: 90%;
        margin: 5%;
    }

    footer.last {
        text-align: center;
        padding: 1%;
        font-size: 1rem;
        color: #094067;
    }
}

